<configuration>
	<property name="zookeeper.log.dir" value="/opt/zookeeper/logs" />
	<property name="zookeeper.log.file" value="zookeeper.log" />
	<property name="zookeeper.log.threshold" value="INFO" />
	<property name="zookeeper.log.maxfilesize" value="2MB" />
	<property name="zookeeper.log.maxbackupindex" value="20" />
	<appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${zookeeper.log.dir}/${zookeeper.log.file}</File>
		<encoder>
			<pattern>%d{ISO8601} [myid:%X{myid}] - %-5p [%t:%C{1}@%L] - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${zookeeper.log.threshold}</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>${zookeeper.log.maxbackupindex}</maxIndex>
			<FileNamePattern>${zookeeper.log.dir}/${zookeeper.log.file}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${zookeeper.log.maxfilesize}</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<root level="INFO">
		<appender-ref ref="ROLLINGFILE" />
	</root>
</configuration>
